<div class="container content is-medium">
<h1 class="title is-1">Personal info</h1>

{% markdown %}

Hi, I'm Viktor! I'm 28 and currently live in Tbilisi, Georgia. I work as an AI Consultant and I hold a PhD in Biostatistics from the University of Copenhagen. My work is focused around Bayesian statistics, explainable models and Natural Language Proessint. I provide consultations on various areas of data analysis, from setting up a team to cutting-edge machine learning algorithms.

## Biostatistics

...

## Effective Altruism

...



{% endmarkdown %}

</div>