<div class="container content is-medium">

{% markdown %}
## My open source projects

### Computational biology

- **[dropEst](https://github.com/kharchenkolab/dropEst)**: low-level pre-processing of scRNA-seq fastq files for accurate estimation of gene expression matrices *([Genome Biology, 2018](https://doi.org/10.1186/s13059-018-1449-6))* <img src="https://raw.githubusercontent.com/abrahamcalf/programming-languages-logos/master/src/cpp/cpp.svg" height="20" class="image is-16x16 is-inline-block" />
- **[pagoda2](https://github.com/kharchenkolab/pagoda2)**: processing and analysis of individual scRNA-seq samples <img src="https://raw.githubusercontent.com/abrahamcalf/programming-languages-logos/master/src/r/r.svg" height="16" class="image is-16x16 is-inline-block" />
- **[conos](https://github.com/kharchenkolab/conos)**: joint analysis of scRNA-seq collections *([Nature Methods, 2019](https://doi.org/10.1038/s41592-019-0466-z))* <img src="https://raw.githubusercontent.com/abrahamcalf/programming-languages-logos/master/src/r/r.svg" height="16" class="image is-16x16 is-inline-block" />
- **[cacoa](https://github.com/kharchenkolab/cacoa)**: case-control analysis of scRNA-seq experiments *([bioRxiv, 2022](https://doi.org/10.1101/2022.03.15.484475))* <img src="https://raw.githubusercontent.com/abrahamcalf/programming-languages-logos/master/src/r/r.svg" height="16" class="image is-16x16 is-inline-block" />
- **[Baysor](https://github.com/kharchenkolab/Baysor)**: Bayesian cell segmentation in single-molecule protocols for spatially-resolved transcriptomics *([Nature Biotech, 2021](https://www.nature.com/articles/s41587-021-01044-w))* <img src="https://www.logo.wine/a/logo/Julia_(programming_language)/Julia_(programming_language)-Logo.wine.svg" height="20" class="image is-16x16 is-inline-block" />
- [CellAnnotatoR](https://github.com/khodosevichlab/CellAnnotatoR): marker-based annotation of scRNA-seq data <img src="https://raw.githubusercontent.com/abrahamcalf/programming-languages-logos/master/src/r/r.svg" height="16" class="image is-16x16 is-inline-block" />
- *[Comparison of single-molecule transcriptomic protocols](https://github.com/VPetukhov/SpatialProtocolComparison). It was made at 2019 and is outdated now.* <img src="https://raw.githubusercontent.com/abrahamcalf/programming-languages-logos/master/src/python/python.svg" height="16" class="image is-16x16 is-inline-block" />
- *[vpscituls](https://github.com/VPetukhov/vpscutils): my helper functions for single-cell analysis* <img src="https://raw.githubusercontent.com/abrahamcalf/programming-languages-logos/master/src/r/r.svg" height="16" class="image is-16x16 is-inline-block" />

### Machine learning

- [Enforcing spatial structure on word2vec](https://github.com/VPetukhov/GraphRegularizedNNs). Application of ideas from [Interpretable Neuron Structuring with Graph Spectral Regularization](https://arxiv.org/pdf/1810.00424.pdf) during my participation in the [AI Safety Camp](https://www.lesswrong.com/posts/QEmfyhqMcSpfnY2dX/how-teams-went-about-their-research-at-ai-safety-camp) <img src="https://raw.githubusercontent.com/abrahamcalf/programming-languages-logos/master/src/python/python.svg" height="16" class="image is-16x16 is-inline-block" />
- [Piecewise-linear approximation of 1D time-series](https://github.com/VPetukhov/StockSegmentation) using splines on stock data <img src="https://raw.githubusercontent.com/abrahamcalf/programming-languages-logos/master/src/python/python.svg" height="16" class="image is-16x16 is-inline-block" />

### General

- **[ggrastr](https://github.com/VPetukhov/ggrastr)**: rasterize individual layers for ggplot2 <img src="https://raw.githubusercontent.com/abrahamcalf/programming-languages-logos/master/src/r/r.svg" height="16" class="image is-16x16 is-inline-block" />
  [![CRAN status](https://www.r-pkg.org/badges/version/ggrastr)](https://cran.r-project.org/package=ggrastr) [![CRAN downloads](https://cranlogs.r-pkg.org/badges/ggrastr)](https://cran.r-project.org/package=ggrastr)
- [dataorganizer](https://github.com/khodosevichlab/dataorganizer): a [research compendium](https://research-compendium.science/) package for scientific projects in R <img src="https://raw.githubusercontent.com/abrahamcalf/programming-languages-logos/master/src/r/r.svg" height="16" class="image is-16x16 is-inline-block" />
- [MailDay Extension](https://github.com/VPetukhov/MailDayExtension) for Thunderbird: implementation of the [Maxim Dorofeev's idea](https://forum.mnogosdelal.ru/viewtopic.php?f=7&t=865) on how to motivate yourself to proces old emails. <img src="https://raw.githubusercontent.com/abrahamcalf/programming-languages-logos/master/src/javascript/javascript.svg" height="16" class="image is-16x16 is-inline-block" />

### Personal

- [Linux](https://github.com/VPetukhov/linux_configs) configs
- [RStudio](https://github.com/VPetukhov/rstudio_config) configs

---

[![Viktor's GitHub stats](https://github-readme-stats.vercel.app/api?username=vpetukhov)](https://github.com/anuraghazra/github-readme-stats)

{% endmarkdown %}