<div class="container content is-medium">
    <div>
        <h1 class="title is-1">Viktor Petukhov, PhD</h1>

        <div class="is-italic">
            Machine learning generalist who can help you to translate your business needs into technical requirements and bring them to life. Fast.
        </div>
    </div>
    <br><br>

    <div>
        <div class="image-wrap">
            <img src="/static/tg.jpg" style="margin:0px 10px" width="40%" align="right">
        </div>

        <div>
        I hold a PhD in Biostatistics, during which I developed <a href="https://github.com/VPetukhov/" target="_blank" rel="noopener noreferrer">8 open source packages</a> used by thousands of researchers worldwide. I also worked as a Data Science Team Lead, and then as an independent AI consultant, mastering translation of business needs into technical terms. Combining scientific and enterprise experience, I can support your company on the full spectrum from formulating a business problem to building a production-ready AI solution.
        </div>
        <br>
        <div class="tags">
            <span class="tag is-medium is-primary">Data Science</span>
            <span class="tag is-medium is-primary">Artificial Intelligence</span>
            <span class="tag is-medium is-primary">Bayesian Statistics</span>
            <span class="tag is-medium is-primary">Natural Language Processing</span>
            <span class="tag is-medium is-primary">Data Visualization</span>
            <span class="tag is-medium is-success is-light">Biostatistics</span>
            <span class="tag is-medium is-link is-light">Python</span>
            <span class="tag is-medium is-link is-light">Julia</span>
            <span class="tag is-medium is-link is-light">R</span>
            <span class="tag is-medium is-link is-light">C++</span>
        </div>

    </div>
</div>