<div class="container content is-medium">
    <h1 class="title is-1">How I can help you</h1>

    {# TODO: describe how I can help you #}
    <div class="is-size-4">
    Ниже приведены основные области, с которыми я могу вам помочь. Если вы хотите использовать машинное обучение как часть своего бизнеса, сделать MVP продукта или отстроить отдел, давайте <a href="#contact">обсудим вашу задачу</a>.
    </div>
    <br>

    <div class="columns">
        <div class="column">
            {% markdown %}
            ## Machine learning

            - Statistical modelling
            - Interpretable data analysis
            - Unsupervised learning
            - Natural Language Processing
            - Working with tabular data
            - Optimization methods
            {% endmarkdown %}
        </div>
        <div class="column">
            {% markdown %}
            ## Computational biology

            - Experiment design
            - Data analysis and interpretation
            - Developing new methods
            - Statistical modelling
            {% endmarkdown %}
        </div>
    </div>
</div>