<div class="container content is-medium">
    <h1 class="title is-1">Методология моего подключения</h1>

    {# TODO: make it as a scheme with arrows #}
    {% markdown %}
    1. **Обсуждение задачи**, текущего положения дел. Уточнение какие есть данные и ресурсы.
    2. **Обсуждение конкретных шагов работы**, которые помогут клиенту. Мы обсуждаем их пока не придем к консенсусу.
    3. **Формулирование предложения**. Часто, после детального обсуждения. шаги, на которые мы договариваемся отличаются от того, с чем клиент приходит изначально.
    4. **Начало работы**. Я работаю инкрементально, то есть результаты видны после каждой итерации, как правило каждую неделю.

    {% endmarkdown %}
</div>