<div class="container content is-medium">

    <h1 class="is-1">Изучите реализованные проекты, чтобы понять как я могу быть полезен вашему бизнесу</h1>
    <div class="is-size-4 is-italic">
        Важно учитывать, что основная часть моей работы находится под NDA.
    </div>
    <br><br>

    <div class="columns">
        {% include "utils/card_start.jinja" %}
        {% markdown %}
        ### [Viaduct](https://www.viaduct.ai/)

        <span class="tag is-warning is-light">R&D</span>
        <span class="tag is-primary is-light">interpretability</span>

        R&D, developing of a novel algorithm for interpretable detection of truck failures
        {% endmarkdown %}
        {% include "utils/card_end.jinja" %}

        {% include "utils/card_start.jinja" %}
        {% markdown %}
        ### [Talist](https://www.linkedin.com/company/talist-recruitment/)

        <span class="tag is-warning is-light">strategy</span>
        <span class="tag is-primary is-light">NLP</span>
        <span class="tag is-primary is-light">scrapping</span>
        <span class="tag is-primary is-light">analytics</span>

        Analyzed thousands of job ads within the alternative protein industry, which provided major improvements for business strategy of the HR agency working within it.
        {% endmarkdown %}
        {% include "utils/card_end.jinja" %}

        {% include "utils/card_start.jinja" %}
        {% markdown %}
        ### [Drone Solutions](https://dronesolutions.ru/)

        <span class="tag is-warning is-light">strategy</span>
        <span class="tag is-warning is-light">fundraising</span>
        <span class="tag is-primary is-light">CV</span>

        Created a strategy for starting a computer vision department in a drone-producing start-up. It helped to attract >$300k funding and the department was successfully started.
        {% endmarkdown %}
        {% include "utils/card_end.jinja" %}

        {% include "utils/card_start.jinja" %}
        {% markdown %}

        ### [PhysTech Ventures](https://phystech.vc/)

        <span class="tag is-warning is-light">fundraising</span>
        <span class="tag is-primary is-light">bio</span>

        Evaluated machine learning methods of biotech companies, which applied for funding.

        {% endmarkdown %}
        {% include "utils/card_end.jinja" %}

    </div>

</div>