{% set title = "About me" %}
{% extends "utils/base.jinja" %}

{% block content %}

<section class="hero is-fullheight">
<div class="hero-body">
{% include "about/bio.jinja" %}
</div>
</section>

<section class="hero is-fullheight">
<div class="hero-body">
{% include "about/projects.jinja" %}

<h2 class="title is-2">My publications</h2>
<div class="is-italic">See <a href="https://scholar.google.com/citations?user=rkEysdsAAAAJ&hl=en" target="_blank" rel="noopener noreferrer">Scholar</a> for more info</div>
</div>
</section>

<section class="hero is-fullheight">
<iframe src="https://bibbase.org/show?bib=https%3A%2F%2Fsealver.in%2Fcitation.bib&commas=true" class="hero-body"></iframe>
</section>

{% endblock %}
