<div class="container content is-medium">

    <h1 class="is-1">My relevant projects</h1>
    <br><br>

    <div class="columns">
        {% include "utils/card_start.jinja" %}
        {% markdown %}
        ### Modularity of neural networks

        TODO:

        - short description
        - link on the post
        - Explanation of [regularized word2vec](https://github.com/VPetukhov/GraphRegularizedNNs)
        {% endmarkdown %}
        {% include "utils/card_end.jinja" %}

        {% include "utils/card_start.jinja" %}
        {% markdown %}

        ### Visualization of collection of documents

        TODO:

        - short description
        - link to the post

        {% endmarkdown %}
        {% include "utils/card_end.jinja" %}

        {% include "utils/card_start.jinja" %}
        {% markdown %}

        ### Visual search engine

        TODO:

        - Make a showcase

        {% endmarkdown %}
        {% include "utils/card_end.jinja" %}

    </div>

</div>