<div class="container content is-medium">
<h1 class="title is-1">My scientific interests</h1>

<br>

<div class="columns">
<div class="column">
{% markdown %}
## Automating research with NLP

My current research interests are about enhancing human research capabilities with AI, data analysis and tech in general. At the moment I'm looking into various ways to use NLP to simplify working with existing literature, such as search, summarization and automated reasoning (broadly, the agenda is inspired by [AllenAI](https://allenai.org/) and [Ought](https://ought.org/)).

{% endmarkdown %}
</div>

<div class="column">
{% markdown %}
## AI Safety

I am also quite interested in AI Safety, explainability of neural networks and formal guarantees on machine learning algorithms. I have a vast experience of working with graphs, including Graph Signal Processing, which I'd be interested to apply to studying neural networks, particularly using the framework of the Complexity Theory.

{% endmarkdown %}
</div>

</div>

</div>