<div class="container content is-medium">
<h1 class="title is-1">My scientific interests</h1>

<br>

<div class="columns">
<div class="column">
{% markdown %}
## Enhancing research by NLP tools

My current research interests are about enhancing human research capabilities with AI, data analysis and tech in general. At the moment I'm looking into various ways to use NLP to simplify working with existing literature, such as search, summarization and automated reasoning (broadly, the agenda is inspired by [AllenAI](https://allenai.org/) and [Ought](https://ought.org/)).

{% endmarkdown %}
</div>

<div class="column">
{% markdown %}
## AI Safety

I am also quite interested in AI Safety, explainability of neural networks and formal guarantees on machine learning algorithms. I have a vast experience of working with graphs, including Graph Signal Processing, which I'd be interested to apply to studying neural networks, particularly using the framework of the Complexity Theory.

{% endmarkdown %}
</div>

<div class="column">
{% markdown %}
## AI + politics

Expanding on the idea of enhancing the human capabilities, one especially interesting application is policy-making and political research. Data science is uniquely suited for contributing towards <a href="https://en.wikipedia.org/wiki/Evidence-based_policing" target="_blank" rel="noopener noreferrer">evidence-based policy-making</a>, as well as providing trustworthy information for general audience. Here I'm particularly excited about work of <a href="https://ourworldindata.org/" target="_blank" rel="noopener noreferrer">Our World in Data</a> and <a href="https://www.bellingcat.com/" target="_blank" rel="noopener noreferrer">bellingcat</a>. So, I'm looking for ways to apply data scrapping and NLP to find insights on pressing political and social issues.

{% endmarkdown %}
</div>

</div>

</div>